.mail{
    color: white;
    padding : 10px;
}

.para{
color: black;
text-align: center;
text-shadow: black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: x-large ;
}

.square{
    background-color: rgba(80, 136, 182 );
    height: 100vh;
     width: 100%;
     
}

.title{
color:blue;
text-align: center;
text-shadow: black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-decoration-line: underline;
margin-top: 0px;
}